@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    /* Background */
    --gray-100: #f7f9fc;
    --gray-300: #d7dce5;
    --gray-500: #9aa6be;

    /* Primary */
    --blue-50: #f0f3fa;
    --blue-100: #d5deef;
    --blue-200: #b1c9ef;
    --blue-400: #628ecb;
    --main-color: #395886;

    /* Label Status */
    --label-pending: #F6E3A3;
    --label-approved: #A3CFC2;
    --label-rejected: #E7AAAA;

    /* Text */
    --font-color: #222;
    --label-color: #555;

    /* Border */
    --border-subtle: #e0e4eb;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
    text-decoration: none;
}

.main {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-evenly;
}
.sidebar {
    position: fixed;
}
.main-content {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 40px 40px 40px 25rem;
    background: var(--blue-50);
    transition: padding-left 0.3s ease; /* ← 여기에 트랜지션 추가 */
}
.sidebar.collapsed ~ .main-content {
    padding-left: 8rem; /* 예: collapsed 시 사이드바 너비만큼 줄이기 */
}

.filter-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.filter-bar {
    display: flex;
    gap: 16px;
    align-items: center;}

.filter-item {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 140px;
}

.filter-item label {
    font-size: 13px;
    color: var(--label-color);
    padding-left: 2px;
}

.filter-item select,
.filter-item input {
    padding: 7px 9px;
    border: 1px solid #ccc;
    width: 70%;
    border-radius: 8px;
    font-size: 12px;
}

.date-range-group .date-range {
    display: flex;
    align-items: center;
    gap: 6px;
}

.range-separator {
    color: var(--label-color);
    font-size: 14px;
}

.filter-button {
    min-width: auto;
}


.btn-search {
    padding: 9px 13px;
    background-color: var(--blue-400);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 40px;
}

.pagination button {
    background: #fff;
    border: 1px solid var(--gray-300);
    color: #444;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    min-width: 32px;
    transition: all 0.2s;
}

.pagination button:hover {
    background-color: var(--blue-100);
}

.pagination .active {
    background-color: var(--blue-400);
    color: #fff;
    font-weight: bold;
    border: none;
}